# Poetry
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
/poetry.lock

# Virtual Environments
.venv/
venv/

# Environment
.env
.env.*

# Logs
*.log
logs/

# Alembic
alembic.ini

.idea
__pycache__/
/temp/

/output/output.md
/output/
/data/
/.data/
/.data/qdrant/
/.data/qdrant/storage/

*.tar
